@using Microsoft.AspNetCore.Identity
@using easyUTR.Areas.Identity.Data
@using easyUTR.Data
@using easyUTR.Helpers
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject easyUTR.Data.EasyUtrContext Context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var currentUserId = UserManager.GetUserId(User);

        if (User.IsInRole("Customer"))
        {
            var customer = Context.Customers.FirstOrDefault(c => c.CustomerId == currentUserId);
            var userName = customer != null ? $"{customer.FirstName}" : string.Empty;
            var points = customer?.Points ?? 0;
            var tier = GamificationHelper.GetTierFromPoints(points);
            var tierIcon = GamificationHelper.GetTierIcon(points);

            <li class="nav-item">
                <a asp-controller="Customers" asp-action="Details" asp-route-id="@currentUserId" class="nav-link text-dark" asp-area="" title="View my account">
                    Hello @userName! @tierIcon
                </a>
            </li>
        } else if (User.IsInRole("Manager"))
        {
            var manager = Context.Staff.FirstOrDefault(c => c.StaffId == currentUserId);
            var userName = manager != null ? $"{manager.FirstName}" : string.Empty;
            <li class="nav-item">
                <a asp-controller="Staffs" asp-action="Details" asp-route-id="@currentUserId" class="nav-link text-dark" asp-area="" title="View my account">Hello @userName!</a>
            </li>
        } else if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link text-dark">Hello Admin!</a>
            </li>
        }


        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-person-circle me-1"></i>Login
            </a>
        </li>
    }
</ul>
