@model easyUTR.ViewModels.Items.ItemCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.ItemName" class="control-label">Item Name</label>
                <input asp-for="Item.ItemName" class="form-control" />
                <span asp-validation-for="Item.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemDescription" class="control-label">Description</label>
                <input asp-for="Item.ItemDescription" class="form-control" />
                <span asp-validation-for="Item.ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemImage" class="control-label">Image URL</label>
                <input asp-for="Item.ItemImage" class="form-control" />
                <span asp-validation-for="Item.ItemImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CategoryId" class="control-label">Category</label>
                <select asp-for="Item.CategoryId" class ="form-control" asp-items="Model.CategoryList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.SupplierId" class="control-label">Supplier</label>
                <select asp-for="Item.SupplierId" class ="form-control" asp-items="Model.SupplierList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
