@model easyUTR.ViewModels.ShoppingCartViewModel

@{
}


<h2>Shopping Cart</h2>

@foreach(var items in Model.CartItems)
{
    <div>
        @items.Item.ItemName - @items.Quantity pcs
    </div>
}
<div>
    You have @Model.TotalQuantity items in your cart.
</div>

<form method="post">
    <button type="submit">Proceed to Checkout</button>
</form>